body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.top-block {
    background-color: #4d636f;
    color: #fff;
}
.top-block a {
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    text-decoration: none;
}
.top-block a:hover {
    color: #000;
    background-color: #fff;
}
.top-block a:first-child {
    background-color: #3a4b53;
}
.top-block a:first-child:hover {
    background-color: #ccc;
    color: #000;
}
.top-block a:first-child i {
    margin-right: 6px;
}
.top-block .avatar-img {
    float: right;
}
.top-block .dropdown-hover {
    display: inline-block;
    position: relative;
}
.top-block .dropdown-hover:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 42px;
    width: 300px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-block .dropdown-content {
    display: none;
}
.top-block .dropdown-content a {
    color: #000;
    background-color: #fff;
    display: block;
}
.top-block .dropdown-content a:hover {
    background-color: #ccc;
}
.top-block .dropdown-content a:last-child {
    float: none;
}
.top-block a span {
    background-color: #4CAF50;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 8px;
}
.top-block img {
    border-radius: 50%;
}
.top-block .menu-icon {
    display: none;
}
.navResponsive {
    display: none;
}
.container {
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 12px;
}
.row {
    display: flex;
    gap: 18px;
}
.col {
    width: 58%;
}
.col:first-child {
    width: 25%;
}
.col:last-child {
    width: 17%;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-container {
    padding: 1px 16px;
}
.my-profile h4 {
    text-align: center;
}
.my-profile img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.my-profile i {
    color: #607d8b;
    margin-right: 16px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #7d97a5;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #ccc;
color: #000;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
padding: 0 18px;
background-color: white;
display: none;
overflow: hidden;
}
.accordion-block i {
    margin-right: 16px;
}
.accordion-block .accordion-img-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    margin-top: 6px;
}
/* .accordion-block .accordion-img-block div {
    width: 50%;
} */
.accordion-block .accordion-img-block img {
    width: 100%;
}
.interests p span {
    font-size: 12px;
    padding: 0 8px;
    display: inline-block;
}
.interests p span:nth-child(1) {
    background-color: #303e45;
    color: #fff;
}
.interests p span:nth-child(2) {
    background-color: #3a4b53;
    color: #fff;
}
.interests p span:nth-child(3) {
    background-color: red;
    color: #fff;
}
.interests p span:nth-child(4) {
    background-color: red;
    color: #fff;
}
.interests p span:nth-child(5) {
    background-color: red;
    color: #fff;
}
.interests p span:nth-child(6) {
    background-color: red;
    color: #fff;
}
.interests p span:nth-child(7) {
    background-color: red;
    color: #fff;
}
.interests p span:nth-child(8) {
    background-color: red;
    color: #000;
}
.interests p span:nth-child(9) {
    background-color: red;
    color: #000;
}
.interests p span:nth-child(10) {
    background-color: red;
    color: #000;
}
.interests p span:nth-child(11) {
    background-color: red;
    color: #000;
}
#alert-block {
    position: relative;
    background-color: #dfe5e8;
}#alert-block span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #becbd2;
    padding: 8px 16px;
    cursor: pointer;
}
.middle-column .content-editable h6 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin: 10px 0;
}
.middle-column .content-editable p {
    border: solid 1px #ccc;
    padding: 8px 16px;
}
.middle-column button {
    border: none;
    color: #fff;
    background-color: #607d8b;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 12px;
}
.middle-column button:hover {
    color: #000;
    background-color: #ccc;
}
.middle-column .card-top,
.middle-column .card-top div {
    display: flex;
}
.middle-column .card-top {
    justify-content: space-between;
    align-items: center;
}
.middle-column .card-top div {
    gap: 20px;
    align-items: center;
}
.middle-column .card-top img {
    border-radius: 50%;
}
.middle-column .card-top h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}
.middle-column .middle-container-img-block {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.middle-column .middle-container-img-block img {
    width: 100%;
}
.last-column {
    text-align: center;
}
.last-column .upcoming-events button {
    border: none;
    width: 100%;
    background-color: #dfe5e8;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
}
.last-column .upcoming-events button:hover {
    background-color: #ccc;
}
.last-column .fried-request img {
    display: block;
    margin: 0 auto;
}
.last-column .fried-request .fried-request-btn-block {
    display: flex;
    margin: 12px 0;
    opacity: 0.6;
}
.last-column .fried-request .fried-request-btn-block button {
    border: none;
    width: 50%;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}
.last-column .fried-request .fried-request-btn-block button:hover {
    background-color: #ccc;
    color: #000;
}
.last-column .fried-request .fried-request-btn-block button:first-child {
    background-color: #4CAF50;
}
.last-column .fried-request .fried-request-btn-block button:last-child {
    background-color: #f44336;
}
.last-column .bug-block i {
    font-size: 36px;
}
hr {
    border: none;
    border-top: solid 1px #eee;
}
.footer {
    background-color: #435761;
    color: #fff;
    padding: 16px;
}
.footer h5 {
    font-size: 18px;
    margin: 10px 0;
}
.powered {
    background-color: #303e45;
    color: #fff;
    padding: 1px 16px;
}
.powered a {
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .top-block a {
        display: none;
    }
    .top-block .menu-icon,
    .top-block a:first-child {
        display: inline-block;
    }
    .top-block .dropdown-hover a {
        display: none;
    }
    .top-block .menu-icon {
        float: right;
    }
    .top-block .responsive .navResponsive,
    .top-block .responsive .navResponsive a {
        display: block;
    }
    .top-block .responsive .navResponsive a {
        background-color: #4d636f;
    }
    .top-block .responsive .navResponsive a:hover {
        background-color: #ccc;
    }
    .row {
        flex-direction: column;
    }
    .col,
    .col:first-child,
    .col:last-child {
        width: 100%;
    }
    .middle-column .middle-container-img-block {
        flex-direction: column;
    }
}